@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-mint-500: #3eb489;
}

* {
  @apply box-border;
}

img {
  @apply max-w-full h-auto;
}

html,
body {
  @apply h-full;
}

ul,
ol,
li {
  @apply list-none;
}

.container {
  @apply mx-auto max-w-[1600px];
}

.header-top-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  /* background-image: url(../src/assets/headerTopBg.png); */
  background-color: #e60028;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(
    1110px 0px,
    100% 0px,
    100% 50px,
    100% calc(100% - 49px),
    100% 100%,
    199px 100%,
    27px 100%,
    38px 0px
  );
}
